@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap");

@font-face {
    font-family: 'Arastin Script';
    src: url('src/assets/fonts/Arastin/Arastin Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YDMyungjo 550 Pro';
    src: url('src/assets/fonts/YDMyungjo 550 Pro/YDMyungjo 550 Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-serif,
h1,
h2,
h3 {
    font-family: "Arastin Script", serif;
}

.font-sans {
    font-family: "YDMyungjo 550 Pro", sans-serif;
}