@font-face {
    font-family: 'Arastin Script';
    src: local('Arastin Script'), url('assets/fonts/Arastin/Arastin Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YDMyungjo 550 Pro';
    src: local('YDMyungjo 550 Pro'), url('assets/fonts/YDMyungjo 550 Pro/YDMyungjo 550 Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-serif,
h1,
h2,
h3 {
    font-family: "Arastin Script", serif;
}

.font-sans {
    font-family: "YDMyungjo 550 Pro", sans-serif;
}
